# Exercise 6

## Instructions
The same instructions from previous exercises apply.

Write the Python program in the cell below the exercise text (or create a new one). Always print the final result to the screen to verify the correctness of the exercise. Sometimes we recall important concepts in a code cell below the exercise text; try running it and, if necessary, modify it to ensure you've understood the essentials.

## Submission
The same rules from previous exercises apply.

It is mandatory to **submit the solution for all exercises** (except those marked as optional) **by the deadline**, as specified in the appropriate assignment on iCorsi. To submit:
- Run the entire notebook from the start (`Kernel -> Restart & Run All`), and check that the solutions are as expected;
- Export the notebook in HTML format (`File -> Download as...`) and submit the resulting file.

If you couldn't complete one or more exercises, describe the issue encountered and **still submit the file with the rest of the solutions**.

## IMDb Dataset

Read the documentation related to the dataset at [this link](https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset), and download it. If you don't want to create a Kaggle account, download the zip file from [this link](https://drive.switch.ch/index.php/s/ios1uvNy81xxmyV) on the instructor's Switchdrive (do not share it, it is for course students only). Extract the folder and rename it `data`.

In this exercise, we will work with the *movies dataset*, which is the file `IMDb movies.csv`.

The current directory, relative to which we need to specify the file's location, is this

In [6]:
pwd

'/Users/lucamazza/School/datascience'

## Exercise 0

### 0.0
Import the dataset with pandas into a dataframe, which we will call `df` from now on.

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/IMDb movies/IMDb movies.csv")

### 0.1
Display the first 3 rows (`df.head(...)`), the last 3 (`df.tail(...)`), and 3 random rows (`df.sample(...)`).

Note: To set the maximum number of columns to display, use the command `pd.set_option('display.max_columns', N)` where `N` is the maximum number of columns you want to display.

In [8]:
# Solution
df.head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0

In [9]:
df.tail(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85851,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85853,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [10]:
df.sample(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
57861,tt1414827,Insutanto numa,Insutanto numa,2009,2009-05-23,Comedy,120,Japan,Japanese,Satoshi Miki,...,"Kumiko Asô, Morio Kazama, Ryô Kase, Keiko Mats...",A quirky young woman who loves antiques embark...,6.9,588,NaN,NaN,NaN,NaN,5.0,16.0
82540,tt7428476,El increíble finde menguante,El increíble finde menguante,2019,2019-05-10,Drama,93,Spain,Spanish,Jon Mikel Caballero,...,"Iria del Río, Adam Quintero, Nadia de Santiago...","It's not a loop, it's a countdown: Alba is tra...",6.2,234,NaN,NaN,NaN,NaN,NaN,13.0
65123,tt2180443,Kureyon Shinchan: Arashi o Yobu: Appare! Sengo...,Kureyon Shinchan: Arashi o Yobu: Appare! Sengo...,2002,2002-04-20,Animation,95,Japan,Japanese,Keiichi Hara,...,"Keiji Fujiwara, Satomi Kôrogi, Miki Narahashi,...",NaN,7.0,212,NaN,NaN,NaN,NaN,1.0,NaN

### 0.2
Print the names of the dataset's columns.

Referring to the dataset description, briefly describe for each column:
- The meaning of the column
- The data type (string? integer?)
- Can the column have null values? If so, how are they represented?

In [11]:
# Solution
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

## Exercise 1 (easy questions)
Write some code to answer the following questions.

- What is the average duration of the movies in the dataset?
- Display the title of the longest movie and the title of the shortest movie.
- Display the longest title (quite easy), and the shortest title (a bit less easy: what if there's more than one?).
- Display the title of a random movie that was released in the year you were born. You can use the `sample` method, as seen above.
- Who is your favorite director? Store their first and last name in a variable (if you want, you can use the `input(...)` function to ask the user), and print how many movies they directed as the sole director.
- Print the list of their movies, separated by semicolons. You can use the [str.join](https://docs.python.org/3/library/stdtypes.html#str.join) method.
- How many movies were produced only in Switzerland?
- What is the average duration of movies produced only in Switzerland?
- List their titles in a string, separated by line breaks. Have you seen any of them?
- List the directors of movies produced only in Switzerland.
- Were more movies released before 2000 or after 2000? (Note: use the `pd.to_numeric(...)` function to convert the "year" column to a numeric type. Read the documentation carefully to understand how to handle possible errors in parsing the strings).

In [14]:
# Solution
print("Average duration:", df['duration'].mean())

Average duration: 100.35132900039602

In [15]:
print("Longest movie:", df[df['duration'] == df['duration'].max()]['title'].iloc[0])

Longest movie: La flor

In [16]:
print("Longest title:", df[df['title'].str.len() == df['title'].str.len().max()]['title'].iloc[0])

Longest title: Night of the Day of the Dawn of the Son of the Bride of the Return of the Revenge of the Terror of the Attack of the Evil, Mutant, Hellbound, Flesh-Eating Subhumanoid Zombified Living Dead, Part 3

In [17]:
print("Shortest title:", df[df['title'].str.len() == df['title'].str.len().min()]['title'].sample().iloc[0])

Shortest title: W

In [18]:
print("Random movie from 2002:", df[df['year'] == 2002]['title'].sample().iloc[0])

Random movie from 2002: Boat Trip

In [19]:
favorite_director = input("Favorite Director: ")
print(len(df[df['director'] == favorite_director]), "films by", favorite_director, )
print(';'.join(df[df['director'] == favorite_director]['title']))

Favorite Director:  Quentin Tarantino

12 films by Quentin Tarantino
Le iene;Pulp Fiction;Jackie Brown;Kill Bill - Volume 1;My Best Friend's Birthday;Bastardi senza gloria;Kill Bill - Volume 2;Grindhouse - A prova di morte;Django Unchained;The Hateful Eight;Kill Bill: The Whole Bloody Affair;C'era una volta a... Hollywood

In [20]:
print(len(df[df['country'] == "Switzerland"]), "films were produced in Switzerland")

87 films were produced in Switzerland

In [21]:
print("Average Swiss Film Duration:", df[df['country'] == "Switzerland"]['duration'].mean())

Average Swiss Film Duration: 94.66666666666667

In [22]:
print('\n'.join(df[df['country'] == "Switzerland"]['title']))

Wachtmeister Studer
L'ultima speranza
Quattro in una jeep
Heidi
Uli, der Knecht
Heidi torna a casa
Uli, der Pächter
Bäckerei Zürrer
Charles mort ou vif
The Devil in Miss Jonas
Downtown - Die nackten Puppen der Unterwelt
Penitenziario femminile per reati sessuali
Frauen im Liebeslager
Mosquito der Schänder
Frenesie erotiche di una ninfomane
Porno shock
I fabbricasvizzeri
Folli piaceri delle porno prigioniere
Die Nichten der Frau Oberst
Sechs Schwedinnen von der Tankstelle
Il falò
Broken Silence
Katzendiebe
Nacht der Gaukler
Frauen für Zellenblock 9
Exklusiv
Die Sklavinnen
Insaziabili notti di una ninfomane
Komiker
HD-Soldat Läppli
Heidi
Hinter den sieben Gleisen
Neutre
Utopia Blues
Stille Liebe
Ernstfall in Havanna
Dällebach Kari
Achtung, fertig, Charlie!
Cargo
Sternenberg
Hildes Reise
Strähl
The Ring Thing
Absolut
Grounding - Die letzten Tage der Swissair
Nachbeben
Jeune homme
Vitus
Mein Name ist Eugen
Handyman
Breakout
Die Herbstzeitlosen
Comme des voleurs (à l'est)
I Was a Swiss Banker
Der Freund
Un autre homme
Sennentuntschi
Coeur animal
Die Standesbeamtin
Giulias Verschwinden
Stationspiraten
Der Sandmann
Clara e il segreto degli orsi
Trapped
Chimères
Das Missen Massaker
Rosie
Pause
Até Ver a Luz
Der Goalie bin ig
Pronti, partenza, march!
Der Kreis
Unter der Haut
Amateur Teens
Nichts passiert
Chrieg
Una campana per Ursli
Non tutte le sciagure vengono dal cielo
Goliath
Contro l'ordine divino
Mr. Moll e la fabbrica di cioccolato
Der Läufer
Streaker
Mario
Dene wos guet geit
Cronofobia
Platzspitzbaby

In [23]:
print('\n'.join(df[df['country'] == "Switzerland"]['director'].unique()))

Leopold Lindtberg
Leopold Lindtberg, Elizabeth Montagu
Luigi Comencini
Franz Schnyder
Kurt Früh
Alain Tanner
Erwin C. Dietrich
Jesús Franco
Marijan Vajda
Rolf Lyssy
Fredi M. Murer
Wolfgang Panzer
Markus Imboden
Michael Steiner, Pascal Walder
Florian Froschmayer
Alfred Rasser
Xavier Ruiz
Stefan Haupt
Christoph Schaub
Sabine Boss
Mike Eschmann
Ivan Engler, Ralph Etter
Christof Vorster
Manuel Flurin Hendry
Marc Schippert
Romed Wyder
Michael Steiner
Stina Werenfels
Jürg Ebe
Bettina Oberli
Lionel Baier
Thomas Imbach
Micha Lewinsky
Séverine Cornamusaz
Mike Schaerer
Peter Luisi
Tobias Ineichen
Philippe Weibel
Olivier Beguin
Marcel Gisler
Mathieu Urfer
Basil da Cunha
Oliver Rihs
Claudia Lorenz
Niklaus Hilber
Simon Jaquemet
Xavier Koller
Dominik Locher
Petra Biondina Volpe
Hannes Baumgartner
Cyril Schäublin
Francesco Rizzi
Pierre Monnard

## Exercise 2
- Ask the user to enter a word. For each movie where the title or description contains that word, display the full title and description.
- List the 20 most common words in movie titles. It will probably make sense to limit this to words longer than a certain number of characters.
- Choose a genre (e.g., Horror). Analyze the movie descriptions and print the 20 words that occur most frequently.

In [24]:
# Solution
def search_movies():
    search_word = input("Enter a word to search in titles and descriptions: ").lower()
    matches = df[df['title'].str.contains(search_word, case=False, na=False) |
                 df['description'].str.contains(search_word, case=False, na=False)]
    display(matches[['title', 'description']])

search_movies()

Enter a word to search in titles and descriptions:  ciao

,title,description
3873,Ciao amici!,Laurel and Hardy join the army. They are hardl...
11856,"Ciao, Charlie",Womanizing Charlie is shot by an angry husband...
12480,Ciao Pussycat,A playboy who refuses to give up his hedonisti...
13516,Ciao America,"An offbeat, episodic film about three friends,..."
15424,Ciao Manhattan,CIAO! MANHATTAN parallels Andy Warhol Factory ...
17487,Ciao Norma Jean,Aspiring actress Norma Jean Baker lives in squ...
17893,Ciao maschio,A man walking on the beach near New York City ...
20328,Ciao nemico,"Soon after the Allies land in Sicily, the U.S...."
28491,"Ciao Julia, sono Kevin",Two political speechwriters fall in love befor...
42101,"Arrivederci amore, ciao","Giorgio Pellegrini, a former left-wing activis..."
50963,Ciao,Jeff is taking care of everything Mark left be...
52083,Ciao Bella,Mustafa Moradi is aching to find a girlfriend....
52458,"Ciao, Amore, Arrivederci",A bartender romances a domestic helper despite...
73250,Ciao Ciao,A free and wild young woman has to come back f...

In [25]:
from collections import Counter
import re

def common_title_words(min_length=4):
    title_words = ' '.join(df['title'].dropna()).lower()
    words = re.findall(r'\b[a-zA-Z]{%d,}\b' % min_length, title_words)
    common_words = Counter(words).most_common(20)
    display("20 Most Common Words in Titles:", common_words)

common_title_words()

'20 Most Common Words in Titles:'

[('della', 1020),
 ('amore', 661),
 ('love', 552),
 ('dell', 467),
 ('uomo', 372),
 ('notte', 352),
 ('vita', 346),
 ('night', 336),
 ('dead', 322),
 ('delle', 305),
 ('grande', 286),
 ('girl', 265),
 ('casa', 257),
 ('last', 255),
 ('movie', 243),
 ('alla', 241),
 ('senza', 238),
 ('morte', 234),
 ('black', 224),
 ('donna', 221)]

In [26]:
def genre_word_analysis(genre_choice="Horror", min_length=4):
    genre_movies = df[df['genre'].str.contains(genre_choice, case=False, na=False)]
    descriptions = ' '.join(genre_movies['description'].dropna()).lower()
    words = re.findall(r'\b[a-zA-Z]{%d,}\b' % min_length, descriptions)
    common_words = Counter(words).most_common(20)
    display(f"20 Most Common Words in {genre_choice} Movie Descriptions:", common_words)

genre_word_analysis()

'20 Most Common Words in Horror Movie Descriptions:'

[('with', 2112),
 ('that', 1939),
 ('their', 1746),
 ('they', 1588),
 ('when', 1378),
 ('young', 1330),
 ('from', 1275),
 ('after', 1193),
 ('into', 1167),
 ('group', 812),
 ('woman', 789),
 ('them', 703),
 ('family', 695),
 ('house', 663),
 ('killer', 627),
 ('find', 602),
 ('friends', 576),
 ('life', 560),
 ('mysterious', 543),
 ('where', 515)]

## Exercise 3
- Create a list that contains all possible movie genres (genre column).
- For each genre `G`, add a boolean column `is_G` that contains `True` only if the movie is (also) of that genre. For example, a movie with genre `Action,Horror` should have `is_Action = True`, `is_Horror = True`, but `is_Animation = False`.
- What is the genre associated with a longer duration?
- For each decade starting from 1940, report the most common genre.
- Repeat the analysis in the last two points, limiting yourself to popular movies. Think about the columns we have available: what could be a criterion for defining when a movie is popular?

In [30]:
# Solution
all_genres = set()
for genres in df['genre'].dropna():
    all_genres.update(genres.split(','))
all_genres = list(all_genres)
for genre in all_genres:
    df[f'is_{genre}'] = df['genre'].apply(lambda x: genre in x.split(',') if pd.notna(x) else False)

genre_durations = {genre: df[df[f'is_{genre}']]['duration'].mean() for genre in all_genres}
longest_genre = max(genre_durations, key=genre_durations.get)
print(f"The genre associated with the longest duration is{longest_genre}")

The genre associated with the longest duration is History

In [34]:
df['decade'] = (df['year'] // 10) * 10
decades = df['decade'].unique()
for decade in sorted(decades):
    if decade >= 1940:
        genre_columns = [f'is_{genre}' for genre in all_genres]
        most_common_genre = df[df['decade'] == decade][genre_columns].sum().idxmax().replace('is_', '')
        print(f"The most common genre in the {decade}s is {most_common_genre}")

popular_movies = df[df['votes'] > 1000]

The most common genre in the 1940s is Comedy
The most common genre in the 1950s is  Drama
The most common genre in the 1960s is Drama
The most common genre in the 1970s is Drama
The most common genre in the 1980s is Comedy
The most common genre in the 1990s is Comedy
The most common genre in the 2000s is Drama
The most common genre in the 2010s is Drama
The most common genre in the 2020s is Drama

In [40]:
genre_durations_popular = {genre: popular_movies[popular_movies[f'is_{genre}']]['duration'].mean() for genre in all_genres}
longest_genre_popular = max(genre_durations_popular, key=genre_durations_popular.get)
print(f"The genre associated with the longest duration among popular movies is {longest_genre_popular}")

The genre associated with the longest duration among popular movies is Musical

In [38]:
decades_popular = popular_movies['decade'].unique()
for decade in sorted(decades_popular):
    if decade >= 1940:
        genre_columns = [f'is_{genre}' for genre in all_genres]
        most_common_genre_popular = popular_movies[popular_movies['decade'] == decade][genre_columns].sum().idxmax().replace('is_', '')
        print(f"The most common genre among popular movies in the {decade}s is {most_common_genre_popular}")

The most common genre among popular movies in the 1940s is  Drama
The most common genre among popular movies in the 1950s is  Drama
The most common genre among popular movies in the 1960s is Drama
The most common genre among popular movies in the 1970s is  Drama
The most common genre among popular movies in the 1980s is Comedy
The most common genre among popular movies in the 1990s is  Drama
The most common genre among popular movies in the 2000s is  Drama
The most common genre among popular movies in the 2010s is  Drama
The most common genre among popular movies in the 2020s is  Drama

### Exercise 4
We would like to use a more appropriate type for the `date_published` column. Find out how to do this by reading the [documentation for the `pd.to_datetime` function](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html).

Overwrite the `date_published` column with the converted datetime value. If there are any rows for which we cannot parse the date, set it to a null value.

In [45]:
# Solution
df['date_published'] = pd.to_datetime(df['date_published'], errors='coerce')
display(df.head())

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,is_Sci-Fi,is_ Action,is_ Sci-Fi,is_ Horror,is_ Thriller,is_War,is_ Fantasy,is_ Reality-TV,is_Drama,decade
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,False,False,False,False,False,False,False,False,False,1890
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,False,False,False,False,False,False,False,False,False,1900
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,False,False,False,False,False,False,False,False,True,1910
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,False,False,False,False,False,False,False,False,True,1910
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,False,False,False,False,False,False,True,False,False,1910